@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    overflow: scroll;
}


.main-content{
    /* height: 100vh; */
    width: 100%;
    /* background-image:linear-gradient(rgba(243, 198, 194, 0.534),rgba(0,0,0,0.5)), url("https://3.imimg.com/data3/VU/EH/GLADMIN-4190565/3-500x500.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFE5E5;
    
}

.top-head{
    position: fixed;
    display: flex;
    background-color: white;
    height: 25px;
    padding: 10px 0px;
}
.main-content .top-head{
    background-color: white;
    width: 100%;
}

.main-content .top-head h5{
    margin-left: 135px;
    padding: 5px;
    color: #5c5c77;
    cursor: pointer;
}

.main-content .top-head h5:hover, .main-content .top-head .user:hover{
    color: #b31c1c;
   
}

.main-content .top-head .icon i:hover{
    color: #b31c1c;
    transform: scale(0.98);
    
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}
.main-content .top-head .user{
    position: fixed;
    right: 50px;
    padding: 5px;
    color: #5c5c77;
    cursor: pointer;
}

.main-content .top-head .icon{
    margin-left: 30px;
    padding: 3px;
    color: #5c5c77;
    border-radius: 25px;

}

.main-content .top-head .icon i{
    
    padding: 5px;
    margin: 0px 2px;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}

.header-element{
    display: flex;
    background-color:#8e0606 ;
    width: 60.7%;
    height: 100px;
    position: fixed;
    top: 42px;
    right: 0px;

}
.image-logo{
    display: flex;
    background-color:#FFE5E5 ;
    width: 40%;
    height: 100px;
    position: fixed;
    top: 42px;
    left: 0px;

}

.header-element li {
    text-decoration: none;
    list-style: none;
    margin: 42px 36px 37px 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    /* padding: 25px 25px 25px 25px; */
    font-family: 'Josefin Sans', sans-serif;
    
}

.header-element li a{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;   
    font-size: 15px;
}




.header-element li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    background: #ff9d0a;
    transition: height .2s;
    margin-top: 34px;
}

.header-element li a:hover::after {
    height:8px;
    
    /* transition: width .3s; */
}
.header-element li a:active::after {
    height:8px;
    /* transition: width .3s; */
}



#element-1{
    margin-left:50px;
}

.header .image-logo img{
    height: 100px;
    margin-left: 123px;
    position: fixed;
    
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
section h3 i{
    animation: icon 3.9s ease 0s 1 forwards;
}

@keyframes icon{
    0%{
        opacity: 0;
        -webkit-transform: rotate(0deg);
    }
    30%{
        opacity: 0;
        -webkit-transform: rotate(0deg);
    }
    50%{
        opacity: 0;
        -webkit-transform: rotate(0deg);
    }
    70%{
        opacity: 0;
        -webkit-transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(359deg);
    }


}



/* section h3{
    font-size: 45px;
    font-weight: 200;
    display: flex;
    letter-spacing: 3px;
    text-shadow: 0px 0px 15px #cc0000, 0px 0px 8px #ff7b00;
    position: absolute;
    top: 263px;
    left: 477px;
} */

/* #output{
    margin:140px auto;
    display:flex;
    text-shadow: 0px 0px 20px #0000cc,0px 0px 10px #0000ff;
    
    font-size:54px;
  } */
section h1{
    margin: 30px 0px 20px 0px;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section p{
    margin-bottom: 25px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    word-spacing: 2px;
}
section a{
    padding: 12px 0px;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    text-transform: uppercase;
}
/* section .btnone{
    background: #371BB1;
    color: rgb(255, 255, 255);
    box-shadow: -7px 8px 10px 2px #487d73; 
    box-shadow: -7px 8px 10px 2px #442ea2;
    margin: 8px;
}
section .btnone:hover{
    background: #000000;
    color: white;
    transition: 0.5s;
    box-shadow: -7px 8px 10px 2px #442ea2, 7px -8px 10px 2px #442ea2;
}

section .btntwo .replies{
    font-weight: 900;
}

section .btntwo{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase;
    background: #262626;
    width: 150px;
    height: 45px;
    line-height: 50px;
    color: rgb(2, 0, 0);
    font-weight: 900;
    padding: 0px 10px;
    letter-spacing: 3px; 
    text-align: center;
    font-size: 15px;
    transition: 0.5;
    overflow: hidden;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 0 5px #333;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.788);
} 

 section .btntwo:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
   background: #F00;
    z-index: -1;
    transition: 1s;
    border-style: solid;
    border-color: #ff9d0a;
     border-color: #b31c1c; 
    border-width: 76px 100px;
    transform: rotate(360deg);
    transform-origin: top left
} 

 section .btntwo:hover:before {
    border-color: #b31c1c;
 border-color: #ff9d0a; 
    transform: rotate(40deg)
}

section .btntwo:hover {
    color: #FFF;
    transition: 0.5s;
    transition-delay: 0.3s;
    box-shadow: inset 0 0 20px #333;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.788);
}
section .btntwo .comment { 
    display: none;
    transition: 0.5;
 }
section .btntwo:hover .replies { 
    display: none; 
    transition: 0.5;
}
section .btntwo:hover .comment {
     display: inline;
     transition: 0.5;
     } */

nav .menu a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #371BB1;
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    margin: auto;
    transition: .5s;
    color: #00b894;
}
nav .menu a:hover::after{
    width: 100%;
}
.change_content:after{
    content: '';
    animation: changetext 5s infinite linear;
    color: #f49405;
}

 @keyframes changetext{
    0%{content: "Router";}
    25%{content: "Pc";}
    50%{content: "Cpu";}
    75%{content: "Deskstop";}
    100%{content: "Hardware";}
   
}

/* Cards Styling starts */
#card {
    width: 20%;
    background-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    /* margin-top: 175px;
    margin-left: 140px;
    margin-bottom: 20px; */
    display: inline-block;
}
.image img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.floor h3{
    text-align: center;
}
.viewclass {
    text-align: center;
}
.viewclass button{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #b31c1c;
    color: white;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
}
.viewclass button:hover{
    background-color: white;
    color: black;
    transition: .5s;
    border: 2px solid #b31c1c;
    padding: 4px;
    cursor: pointer;
}
#card:hover{
    background-color: #b31c1c;
    color: white;
    transition: .5s;
}
#card.cardtop {
    margin-top: 175px;
    margin-left: 145px;
}
#card.cardbtm {
    margin-left: 145px;
    margin-bottom: 20px;
    margin-top: 100px;
}
/* card styling ends */

/* modal styling */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #FFE5E5;
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 40%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #000000;
    border-radius: 10px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 13px 16px;
    background-color: #8e0606;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .modal-body {padding: 2px 16px;}
  
  /* .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  } */


/* Dropdown style */

.dropdown .dropbtn {
    background-color: #8e0606;
    color: white;
    padding: 16px 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 80px;
  }
  .dropdown .dropbtn {
      transition: 0.5s ease;
  }

  .dropdown .dropdown-content  {
    transition: 0.5s ease;
}
.dropdown .dropbtn:hover {
    /* padding: 15px; */
    font-size: 16px;
    padding: 16px 80px;
    border-color: #8e0606;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 10px;
    max-height: 180px;
    overflow: auto;
  }
  
  .dropdown-content option {
    color: black;
    padding: 12px 108px;
    text-decoration: none;
    display: block;
    border: 2px solid white;
    border-radius: 5px;
  }
  
  .dropdown-content option:hover {
      background-color: #f1f1f1;
      border: 2px solid #8e0606;
    
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
    color: #000;
    border: 2px solid #8e0606;
    border-radius: 5px;
    margin-top: 20px;
  }
 .modal-image {
     display: none;
 }

 
